#console {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

#console .jqconsole {
  white-space: pre-wrap;
}

#sandbox-frame {
  width: 0;
  height: 0;
}